*{
    box-sizing: border-box;
}
html, 
body {
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: #FFFFFF;
    width: 100%;
    height: 83px;
    justify-content: space-between;


}
.logo{
    height: 34px;
    width: 150px;

}
.ul-items{
    display: flex;
    flex-direction: row;
    gap: 10px;
}